<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Nome:</strong>
    <%= tarefa.nome %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= tarefa.descrição %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= tarefa.data %>
  </p>

</div>
