<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política de Privacidade</title>
  <style>
      /* Reset de estilos */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      /* Estilo do contêiner */
      .container {
          max-width: 800px;
          margin: 0 auto;
      }

      /* Estilo do cabeçalho */
      header {
          text-align: center;
          margin-bottom: 20px;
      }

      /* Estilo do título */
      h1 {
          font-size: 2.5rem;
          margin-bottom: 10px;
      }

      /* Estilo do parágrafo */
      p {
          margin-bottom: 20px;
          color: black;
      }

      /* Estilo dos links */
      a {
          color: #007bff;
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
<div class="container">
  <header>
    <h1>Política de Privacidade</h1>
  </header>

  <p>A sua privacidade é importante para nós. É política do nosso site respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site, e outros sites que possuímos e operamos.</p>

  <h2>1. Coleta de Informações</h2>
  <p>Quando você acessa nosso site, podemos coletar certas informações sobre você automaticamente, incluindo o tipo de navegador que você está usando, o seu sistema operacional, o seu endereço IP e outras informações de diagnóstico.</p>

  <h2>2. Uso de Informações</h2>
  <p>As informações que coletamos são usadas para analisar tendências, administrar o site, rastrear os movimentos dos usuários no site e reunir informações demográficas.</p>

  <h2>3. Divulgação de Informações</h2>
  <p>Nós não iremos vender, distribuir ou alugar suas informações pessoais para terceiros sem o seu consentimento, a menos que sejamos obrigados por lei a fazê-lo.</p>

  <p>Para ler o texto completo da Política de Privacidade, consulte <a href="#">este link</a>.</p>

  <p>Última atualização: Janeiro de 2024</p>
</div>
</body>
</html>
