<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Termos de Uso</title>
  <style>
      /* Reset de estilos */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      /* Estilo do contêiner */
      .container {
          max-width: 800px;
          margin: 0 auto;
      }

      /* Estilo do cabeçalho */
      header {
          text-align: center;
          margin-bottom: 20px;
      }

      /* Estilo do título */
      h1 {
          font-size: 2.5rem;
          margin-bottom: 10px;
      }

      /* Estilo do parágrafo */
      p {
          margin-bottom: 20px;
          color: black;
      }

      /* Estilo dos links */
      a {
          color: #007bff;
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }
  </style>
</head>
<body>
<div class="container">
  <header>
    <h1>Termos de Uso</h1>
  </header>

  <p>Bem-vindo aos Termos de Uso do nosso site. Ao acessar nosso site, você concorda com estes termos. Por favor, leia-os cuidadosamente.</p>

  <h2>1. Uso do Site</h2>
  <p>O uso deste site é sujeito aos seguintes termos de uso:</p>
  <ul>
    <li>O conteúdo das páginas deste site é apenas para sua informação geral e uso. Está sujeito a mudanças sem aviso prévio.</li>
    <li>Nem nós, nem terceiros, garantimos a precisão, atualidade, desempenho, integridade ou adequação das informações e materiais encontrados ou oferecidos neste site para qualquer finalidade específica.</li>
  </ul>

  <h2>2. Limitações de Responsabilidade</h2>
  <p>Nós não seremos responsáveis por quaisquer perdas ou danos, incluindo, sem limitação, perdas ou danos indiretos ou consequentes, ou quaisquer perdas ou danos decorrentes de perda de dados ou lucros decorrentes do uso deste site ou da incapacidade de usá-lo.</p>

  <h2>3. Links para Outros Sites</h2>
  <p>O nosso site pode conter links para outros sites que não são de nossa propriedade ou controlados por nós. Não temos controle sobre o conteúdo, políticas de privacidade ou práticas de quaisquer sites de terceiros e não aceitamos qualquer responsabilidade por eles.</p>

  <p>Para ler o texto completo dos Termos de Uso, consulte <a href="#">este link</a>.</p>

  <p>Última atualização: Janeiro de 2024</p>
</div>
</body>
</html>
