<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Site</title>
  <style>
      /* Reset de estilos */
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }

      body {
          font-family: Arial, sans-serif;
      }

      /* Estilo do cabeçalho */
      header {
          background-color: #333;
          color: #fff;
          padding: 20px 0;
          text-align: center;
      }

      /* Estilo do logo */
      .logo {
          font-size: 2rem;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
      }

      /* Estilo do menu de navegação */
      nav {
          margin-top: 20px;
      }

      nav ul {
          list-style: none;
          padding: 0;
          margin: 0;
          text-align: center;
      }

      nav ul li {
          display: inline;
          margin: 0 10px;
      }

      nav ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 1.2rem;
          transition: color 0.3s ease;
      }

      p{
          color: black;
      }

      nav ul li a:hover {
          color: #007bff;
      }
  </style>
</head>
<body>
<!-- Cabeçalho -->
<header>
  <div class="logo">Minha Agenda Pessoal</div>
  <!-- Menu de navegação -->
  <nav>
    <ul>
      <li><%= link_to "Ínicio", tarefas_path %></li>
      <li><%= link_to "Nova Tarefa", new_tarefa_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </nav>
</header>

<!-- Conteúdo do site -->
<main>
  <!-- Seu conteúdo aqui -->
</main>

<!-- Rodapé -->
<footer>
  <!-- Seu rodapé aqui -->
</footer>
</body>
</html>
